
.hw1 {
  max-width: 900px;
  margin: auto;
  background-color: white;
  
}

.header {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

.nav {
  background-color: grey;
  padding: 10px;
  text-align: center;
}

.nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.nav a:hover {
  color: yellow;
}

.content {
  padding: 20px;
}

.footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
}
